.section-featured {
  .logos {
    display: flex;
    justify-content: space-around;

    img {
      height: 3.2rem;
      filter: brightness(0);
      opacity: 50%;

      @include tablets {
        height: 2.4rem;
      }

      @include phone {
        height: 1.2rem;
      }
    }
  }
}
