@import "button";

.header-sticky .section-hero {
  margin-top: 9.6rem;
}

.section-hero {
  background-color: $color-tints;
  padding: 4.8rem 0 9.6rem 0;

  @include phone {
    padding: 2.4rem 0 4.8rem 0;
  }

  .hero {
    padding: 0 3.2rem;
    max-width: 130rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    margin: 0 auto;
    align-items: center;

    @include sm-desktop {
      max-width: 120rem;
    }

    @include ls-tablets {
      gap: 4.8rem;
    }

    @include tablets {
      grid-template-columns: 1fr;
      padding: 0 8rem;
      gap: 6.4rem;
    }

    @include phone {
      padding: 0 3.2rem;
    }

    &-text-box,
    &-img-box {
      text-align: center;
    }

    &-description {
      font-size: 2rem;
      line-height: 1.5;
      margin-bottom: 4.8rem;
    }

    &-img {
      width: 100%;

      @include tablets {
        width: 60%;
      }

      @include phone {
        width: 80%;
      }
    }
  }
}
