.section-how {
  padding: 9.6px;

  .step {
    &-number {
      font-size: 9.8rem;
      font-weight: 600;
      color: #ddd;
      margin-bottom: 1.2rem;

      @media screen and (max-width: $size-t) {
        font-size: 7.4rem;
      }
    }

    &-description {
      font-size: 1.8rem;
      line-height: 1.8;
    }

    &-img {
      width: 35%;
    }

    &-img-box {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @media screen and (max-width: $size-ph) {
        transform: translateY(2.4rem);
      }

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50%;
        z-index: -1;
      }

      &::before {
        width: 60%;
        padding-bottom: 60%;
        background-color: $color-tints;
      }

      &::after {
        width: 50%;
        padding-bottom: 50%;
        background-color: $color-tints-2;
      }

      &:nth-child(2) {
        @media screen and (max-width: $size-ph) {
          grid-row: 1;
        }
      }

      &:nth-child(6) {
        @media screen and (max-width: $size-ph) {
          grid-row: 5;
        }
      }
    }
  }
}
