.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  &-row-center {
    align-items: center;
  }

  @for $val from 1 through 12 {
    &-#{$val}-cols {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}
