/*#region Margin, Padding  */

$types: (
  "m": "margin",
  "p": "padding",
);

$directions: (
  "t": "top",
  "b": "bottom",
  "l": "left",
  "r": "right",
);

@for $val from 1 through 16 {
  @each $tKey, $tValue in $types {
    @each $dKey, $dValue in $directions {
      .#{$tKey}#{$dKey}-#{$val} {
        #{$tValue}-#{$dValue}: 0.8rem * $val;
      }
    }
  }
}

/*#endregion Margin class  */

/*#region Heading */

.heading {
  &-primary,
  &-secondary,
  &-tertiary {
    font-weight: 700;
    letter-spacing: -0.5px;
    color: $color-text-dark;
  }

  &-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;

    @include sm-tablets {
      font-size: 4.4rem;
    }
  }

  &-secondary {
    font-size: 4.4rem;
    line-height: 1.2;

    @include ls-tablets {
      font-size: 3.6rem;
    }

    @include sm-tablets {
      margin-bottom: 4.8rem;
    }
  }

  &-tertiary {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;

    @include ls-tablets {
      font-size: 2.4rem;
    }
  }

  &-featured-in {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: $color-text-light;
  }
}

.subheading {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  color: $color-shades;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

/*#endregion Heading */

.text-center {
  text-align: center;
}

.logo {
  height: 2.2rem;
}
