// COLOR
$color-primary: #e67e22;
$color-tints: #fdf2e9;
$color-tints-2: #fae5d3;
$color-shades: #cf711f;
$color-text-dark: #333;
$color-text-medium: #555;
$color-text-light: #888;

// RWD Break point
$size-sd: 84em; // 1344px Smaller Desktop
$size-lt: 75em; // 1200px landscape Tablets
$size-t: 59em; // 944px Tablets
$size-st: 44em; // 704px Smaller Tablets
$size-ph: 34em; // 544px Phone

// RWD Break point
$size-sm-desktop: 84em; // 1344px Smaller Desktop
$size-ls-tablets: 75em; // 1200px landscape Tablets
$size-tablets: 59em; // 944px Tablets
$size-sm-tablets: 44em; // 704px Smaller Tablets
$size-phone: 34em; // // 544px Phone
