.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;

  .grid-footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;

    @include sm-tablets {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .nav-col {
    @include sm-tablets {
      grid-row: 1;
      grid-column: span 2;
      margin-bottom: 3.2rem;
    }
  }

  .logo-col,
  .address-col {
    @include sm-tablets {
      grid-column: span 3;
    }
  }

  .logo-col {
    display: flex;
    flex-direction: column;
  }

  &-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }

  &-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &-logo {
    display: block;
    margin-bottom: 3.2rem;
  }

  .social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;

    .social-icon {
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  .copyright {
    font-size: 1.4rem;
    color: #767676;
    line-height: 1.6;
    margin-top: auto;
  }

  .address {
    margin-bottom: 2.4rem;
  }

  .footer-link {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1.6rem;
      color: #767676;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: $color-text-medium;
    }
  }

  .contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
  }
}
